.page {
    font-family: Roboto, Arial, Helvetica, sans-serif;    
}

.page__header {
    margin-bottom: 24px;
}

.page__restaurants {
    margin-top: 56px;
}

.delivery__form {
    display: flex;
    align-items: center;
}

.delivery__text {
    padding: 0 8px;
    margin: 0;
}

.delivery__time {
    width: 70px;
    box-sizing: border-box;
}

.input {
    line-height: 24px;
    font-size: 16px;
    color: #1D1D1D; 
    padding: 8px 12px;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
}

.input_marker {
    background: url(./images/marker.svg) no-repeat left center;
    background-position-x: 8px;
    padding-left: 30px;
}

.button {
    border: 1px solid #E0E0E0;
    background: #fff;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 8px 16px;
    font-weight: 500;
    line-height: 24px;
    font-size: 13px;
    text-align: center;
    color: #1D1D1D;
}

.button_primary {
    background: #262626;
    color: #FFFFFF;
    border-color: #262626;
}

.button_icon {
    border: none;
    line-height: normal;
}

.userbar {
    display: flex;
    align-items: center;
}

.userbar__sign-in,
.userbar__register {
    margin-right: 16px;
}

.header {
    padding: 16px 0;
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search__container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search__input {
    width: 100%;
    background: url(./images/search.svg) no-repeat left center;
    background-position-x: 8px;
    border: none;
    border-bottom: 1px solid rgba(117, 117, 117, 0.3);
    font-weight: normal;
    line-height: 24px;
    font-size: 16px;
    color: #626262;
    padding: 16px 16px 16px 35px;
    box-sizing: border-box;
}

.search__input::-webkit-input-placeholder {
    color: #626262;
    opacity: 0.5;
}

.search__form {
    width: 100%;
}

.restaurants__container {
    width: 1200px;
    margin: 0 auto;
}

.restaurants__header {
    margin-top: 0;
    margin-bottom: 16px;
    line-height: 34px;
    font-size: 22px;
    font-weight: normal;
}

.restaurants__cards {
    
}

.restaurants__card {
    margin-bottom: 36px;
}

.card__name {
    line-height: 24px;
    font-size: 16px;
    font-weight: normal;
    color: #1D1D1D;
    margin: 16px 0 4px 0;
    
}

.card__description {
    line-height: 21px;
    font-size: 14px;
    color: #626262;
    margin: 0 0 4px 0;
}

.card__estimate {
    line-height: 21px;
    font-size: 13px;
    color: #1D1D1D;
    margin: 0;
}

.card__image {
    display: block;
}